@charset "UTF-8";
@import "import.css";

body{
  background: url("/static/images/mass_effect_3_earth_dreamscene_by_droot1986-d661hfj.jpg")
            , url("/static/images/mass_effect_3_earth_dreamscene_by_droot1986-d661hfj.jpg")
            , url("/static/images/mass_effect_3_earth_dreamscene_by_droot1986-d661hfj.jpg")
            , url("/static/images/mass_effect_3_earth_dreamscene_by_droot1986-d661hfj.jpg")
            , url("/static/images/mass_effect_3_earth_dreamscene_by_droot1986-d661hfj.jpg")
            , url("/static/images/mass_effect_3_earth_dreamscene_by_droot1986-d661hfj.jpg");
}